<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %><br>
    <%= link_to "Create new user", new_user_path %>
  </div>
  <div class="field">
    <%= f.label :task_id %><br />
    <%= f.number_field :task_id %>
  </div>
  <div class="field">
    <%= f.label :task_name %><br />
    <%= f.text_field :task_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.datetime_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.radio_button :priority, 1 %>
    <%= f.label :priority_high, "High" %>
    <%= f.radio_button :priority, 2, :checked => true %>
    <%= f.label :priority_med, "Med" %>
    <%= f.radio_button :priority, 3 %>
    <%= f.label :priority_low, "Low"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
