<head>
  <style>
    .table tbody tr.bs td {
      background-color: #FF3D3D;
      color: #FCFFE0;
    }

    .table tbody tr:hover td {
      background-color: #f5f5f5;
      color: black;
    }
  </style>
</head>

<h1>Shit you need to get done.</h1>


  <% @lists.each do |list| %>
    <table class="table table-striped">
    <h3><%= list.name %></h3>

    <thead>
      <tr>
        <th style="width: 4%">Done?</th>
        <th style="width: 26%">Task</th>
        <th style="width: 40%">Description</th>
        <th style="width: 8%">Day Due</th>
        <th style="width: 10%">Time Due</th>
        <th style="width: 12%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% list.tasks.each do |task| %>
        <% if !task.isDone %>
          <% if task.due_date < Time.now %>
            <tr class="bs">
          <% else %>
            <tr>
          <% end %>        
          <td><center><%= link_to "✓", task_path(task), :method => :delete, :class => 'btn btn-mini btn-inverse' %> </center></td>
          <td><%= task.task_name %></td>
          <td><%= task.description %></td>
          <td><%= task.due_date.strftime("%-m/%-d") %></td>
          <td><%= task.due_date.strftime("%l:%M %P") %></td>
          <td>
            <%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-mini' %>

          <% if task.due_date < Time.now %>       
            <%= link_to 'Delete', task_path(task), :method => :delete, :class => 'btn btn-mini btn-warning' %>   
          <% else %>         
            <%= link_to 'Delete', task_path(task), :method => :delete, :class => 'btn btn-mini btn-danger' %>
          <% end %>
          </td>
          </tr>
        <% end %>
    </tbody>
  <% end %>
<% end %>
</table>

<%= link_to 'New', new_task_path, :class => 'btn' %>
