<h1>Shit you need to get done.</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 10%">Done?</th>
      <th style="width: 20%">Task</th>
      <th style="width: 40%">Description</th>
      <th style="width: 10%">Day Due</th>
      <th style="width: 10%">Time Due</th>
      <th style="width: 10%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <% if !task.isDone %>
        <tr>
          <td><%= check_box_tag "task_id", task.id, false, :class => 'task-checkbox' %></td>



          <td><%= task.task_name %></td>
          <td><%= task.description %></td>
          <td><%= task.due_date.strftime("%-m/%-d") %></td>
          <td><%= task.due_date.strftime("%l:%M %P") %></td>
          <td>
            <%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-mini' %>
            <%= link_to 'Delete', task_path(task), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>

            <%= button_to 'Done', :action => :done, :remote=>true %>

          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_task_path, :class => 'btn' %>
