<h1>Task</h1>

<p>
  <b>Email</b><br>
  <%= @task.email %>
</p>

<p>
  <b>Task</b><br>
  <%= @task.task_id %>
</p>

<p>
  <b>Task name</b><br>
  <%= @task.task_name %>
</p>

<p>
  <b>Description</b><br>
  <%= @task.description %>
</p>

<p>
  <b>Due date</b><br>
  <%= @task.due_date %>
</p>

<p>
  <b>Priority</b><br>
  <%= @task.priority %>
</p>

<p>
  <b>Isdeleted</b><br>
  <%= @task.isDeleted %>
</p>

<p>
  <b>Isdone</b><br>
  <%= @task.isDone %>
</p>

<div class="form-actions">
  <%= link_to 'Back', tasks_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_task_path(@task), :class => 'btn' %>
  <%= link_to 'Delete', task_path(@task), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
