<h1>Shit you need to get done.</h1>
<p>

<table class="table table=striped">
	<thead>
	<tr>
		<th>Done?</th>
		<th>Task</th>
		<th>Description</th>
		<th>Date due</th>
		<th>Time due</th>
		<th>Delete</th>
	</tr>
	</thead>
<tbody>
<% @tasks.each do |task| %>
<% if task.isDeleted == false and task.isDone == false and current_user.email == task.email %>
	<tr>
		<td><%= check_box("task", "done") %></td>
		<td><%= task.task_name %></td>
		<td><%= task.description %></td>
		<td><%= task.due_date.strftime("%-m/%-d") %></td>
		<td><%= task.due_date.strftime("%l:%M %P") %></td>
		<td><%= link_to 'Delete' %></td>
	</tr>
<% end %>
<% end %>
</tbody>
