<%= form_for(@history) do |f| %>
  <% if @history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@history.errors.count, "error") %> prohibited this history from being saved:</h2>

      <ul>
      <% @history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="field">
    <%= f.label :task_id %>
    <%= f.number_field :task_id %><br>
    <%= link_to "Create new task", new_task_path %>
  </div>
  <div class="field">
    <%= f.label :isDeleted %>
    <%= f.check_box :isDeleted %>
  </div>
  <div class="field">
    <%= f.label :isDone %>
    <%= f.check_box :isDone %>
  </div>
  <div class="actions">
    <%= f.submit :class=> "btn btn-primary" %>
  </div>
</div>
<% end %>
