<h1>History</h1>

<p>
  <b>Task</b><br>
  <%= @history.task_id %>
</p>

<p>
  <b>Isdeleted</b><br>
  <%= @history.isDeleted %>
</p>

<p>
  <b>Isdone</b><br>
  <%= @history.isDone %>
</p>

<div class="form-actions">
  <%= link_to 'Back', histories_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_history_path(@history), :class => 'btn' %>
  <%= link_to 'Delete', history_path(@history), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
